@font-face {
  font-family: "Avenir";
  src: local("Avenir"),
    url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("truetype");
}

@font-face {
  font-family: "Avenir";
  src: local("Avenir"),
    url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("truetype");
  font-weight: bold;
}
